SUPABASE_URL=https://cyofolmdypeyvhzqkavr.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN5b2ZvbG1keXBleXZoenFrYXZyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODU0ODY2NzMsImV4cCI6MjEwMTA2MjY3M30.DDYLODmfhXYpZ4XokccqL4j_0WwpiahDoi9uci6-WnI
PORT=3000
